@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main-scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  height: 8px;
  border-radius: 2px;
}
.main-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
.main-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-sky-200 rounded-lg transition-all duration-200  hover:bg-sky-400/70;
}
